/**************************** form.**********************************/
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ede3c2;
}

.reg {
    background: #c9b576;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

p {
    margin: 10px 0 5px;
}

input[type="text"], input[type="tel"], input[type="tel"], input[type="email"], input[type="password"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}
.btn a{
    text-decoration: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* button[type="reset"] {
    background-color: #e0dbc9;
    color: #000000;
    font-weight: bold;
} */

#signup-btns {
    color: #000000;
}

button[type="submit"] {
    background-color: #e0dbc9;
    color: #000000;
    font-weight: bold;
}
.btn button:hover {
    background-color: #161314b6;
}
.forgotP {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}
.forgotP a{
    text-decoration: none;
}