body{
    font-family: Arial, sans-serif;
    background-color: #ede3c2;
    margin: 0%;
}


/*------------------------------------------------------------------------------NAVIGATION BAR----------------------------------------------------------------------------------*/


.navigationbar {
    /* Removing the bullets */
    list-style-type: none;
    /* Removing the browser default settings */
    margin: 0;
    padding: 10px;
    overflow: hidden;
    /*Sticky Navigation Bar*/
    position: -webkit-sticky;
    position: sticky;
    /*Ensures that the navigation bar does not move when scrolling*/
    top: 0;
}
.navigationbar {
  background-color: #333;
}

.navigationbar li {
    float: right;

}

.navigationbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
   
}

.navigationbar li a:hover:not(.active) {
    background-color: #C6A641;
}

.navigationbar h2 {
  display: inline-block;
  color: white;

}
.active {
    background-color: #C6A641 ;
}

.navigationbar
.welcomehome, .topsub {
    text-align: center;
    font-size: 20px;
}

.navigationbar span {
    color: #C6A641;
}

.homelink {
  text-decoration: none;
  color: white;

}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

.carwash h1{
  padding-top: 2%;
  text-align: center;
  font-size: 50px;
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    max-width: 1200px; 
    width: 100%; 
    /* Centers the container horizontally and adds space at the top */
    margin: 20px auto 0 auto; 
    /* Additional space from the top */
    padding-top: 70px; 
  }
  
  .our-services {
    width: 24%; 
    box-sizing: border-box;
    margin: 0.5%; 
    text-align: center;
    background-color: rgba(255, 255, 255, 0.637);
  }
  
  .our-services img {
    width: 100%;
    height: 250px; 
    object-fit: cover; 
  }


/*------------------------------------------------------------------------------CAR WASH TABLE-------------------------------------------------------------------------*/

.carwash-table {
  background-color: rgba(255, 255, 255, 0.445);
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
}

button:hover {
  background-color: #ede3c2;
  width: 80%;
}

.total-table {
  background-color: rgba(255, 255, 255, 0.445);
  margin-top: 2%;
  margin-left: 10%;
  width: 80%;

}

.button {
    background-color: #C6A641;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    margin-left: 79%;
    width: 8%;
}
